##  常用字符串操作

In [1]:
a = 'hello'
b = 'python'
c = a + b
print c
print '**'.join([a,b])
print len(range(10)), len(c)
print c[1], c[1:2], c[1:3], c[1:-1], c[1:]

hellopython
hello**python
10 11
e e el ellopytho ellopython

In [2]:
# 原始字符串
print r'\\n'
print R'\n'

\\n
\n

## 课堂练习1030-1

In [3]:
letters = list('abcdefghijklmnopqrstuvwxyz')
nr_letters = len(letters)
assert(26 == nr_letters)
res = ''
for i in range(nr_letters):
    res = res + (i+1)*letters[i]
print res
print len(res)

abbcccddddeeeeeffffffggggggghhhhhhhhiiiiiiiiijjjjjjjjjjkkkkkkkkkkkllllllllllllmmmmmmmmmmmmmnnnnnnnnnnnnnnoooooooooooooooppppppppppppppppqqqqqqqqqqqqqqqqqrrrrrrrrrrrrrrrrrrsssssssssssssssssssttttttttttttttttttttuuuuuuuuuuuuuuuuuuuuuvvvvvvvvvvvvvvvvvvvvvvwwwwwwwwwwwwwwwwwwwwwwwxxxxxxxxxxxxxxxxxxxxxxxxyyyyyyyyyyyyyyyyyyyyyyyyyzzzzzzzzzzzzzzzzzzzzzzzzzz
351

## 格式化字符串

In [4]:
name = "Skywalker"
student_id = 2016000000
print "My name is %s" % (name)
print "My name is %s" % name
print "My name is %s and student id is %d" % (name, student_id) 
print "My name is %s and student id is %d" % (student_id, name)

My name is Skywalker
My name is Skywalker
My name is Skywalker and student id is 2016000000

TypeError: %d format: a number is required, not str

In [5]:
a = 1.2
print '%.3f %g %d' % (a, a, a)

for a in range(20):
    print '%d %x %X' % (a, a, a)

1.200 1.2 1
0 0 0
1 1 1
2 2 2
3 3 3
4 4 4
5 5 5
6 6 6
7 7 7
8 8 8
9 9 9
10 a A
11 b B
12 c C
13 d D
14 e E
15 f F
16 10 10
17 11 11
18 12 12
19 13 13

In [6]:
a = '2.1'
b = float(a) + 1
print b

3.1

In [7]:
a = 3.14
print '%f' % a
print '%g' % a

a = 2
print str(a)
print '%d' % a
print '%g' % a

3.140000
3.14
2
2
2

In [8]:
msg = "helloexxe"
msg.capitalize()
print 'e' in msg
print msg.find('e')

for i in range(len(msg)):
    if msg[i] == 'e':
        print i
beg = 0
while True:
    index = msg.find('e', beg)
    if index < 0:
        break
    print index
    beg = index + 1

True
1
1
5
8
1
5
8

In [9]:
datafile = 'data20171023.txt'
lines = open(datafile).readlines()
print len(lines)

max_dist = -1
max_line = 0
min_dist = 100000000
min_line = 0
sum_dist = 0

for i in range(len(lines)):
    elems = lines[i].split()
    assert(len(elems)>=2)
    x = float(elems[0])
    y = float(elems[1])
    dist_to_origin = (x**2 + y**2)**0.5
    sum_dist = sum_dist + dist_to_origin
    if dist_to_origin < min_dist:
        min_dist = dist_to_origin
        min_line = i
    if dist_to_origin > max_dist:
        max_dist = dist_to_origin
        max_line = i
    #print (x, y)
    #break
    
print 'found max_d %g at row %d' % (max_dist, max_line+1)
print 'found min_d %g at row %d' % (min_dist, min_line+1)
avg_dist = sum_dist / len(lines)
print 'avg dist %g' % avg_dist

100
found max_d 2.89534 at row 21
found min_d 0.0274752 at row 18
avg dist 1.18358

In [10]:
datafile = 'data20171023.txt'
lines = open(datafile).readlines()
results = []

for i in range(len(lines)):
    elems = lines[i].split()
    #assert(len(elems)>=2)
    x = float(elems[0])
    y = float(elems[1])
    dist_to_origin = (x**2 + y**2)**0.5
    results.append((i, dist_to_origin))

def compare_func(v):
    return v[1]

results.sort(key=lambda xxxx:xxxx[1])
results.sort()

print 'found max_d %g at row %d' % (results[-1][1], results[-1][0]+1)
print 'found min_d %g at row %d' % (results[0][1], results[0][0]+1)

found max_d 0.901194 at row 100
found min_d 0.934 at row 1

In [11]:
range(3)

[0, 1, 2]

In [12]:
for i in [0, 1, 2]:
    print i
    
for i in ['a', 99, 'cc']:
    print i

0
1
2
a
99
cc

In [13]:
import pandas as pd
df = pd.read_excel('data/titanic/train.xlsx', sheetname="train")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S